@charset "utf-8";

p{
font-size:12px
}

.container {
  width: 100%;
  display: flex;
}

.container img {
  flex: 1;
  height: auto;
  display: block;
}
.FlexContainer {
display:flex;
}

.FlexContainer>span {
border:solid thin #FFF;
}

.phrase {
display:inline-block;
}

span.site {
display:inline-block;
}
