@charset "utf-8";


   .px {
    font-size: 12px
   }
   
  .FlexContainer {
   display: flex;
  }
  .FlexContainer>span {
   border:solid thin #FFF;
  }

  .phrase {
    display: inline-block;
  }

  span.site {
   display: inline-block;
  }
