@charset "utf-8";

p{
font-size:12px
}

p2{
font-size:9px
}

.FlexContainer {
display:flex;
}

.FlexContainer>span {
border:solid thin #FFF;
}

.phrase {
display:inline-block;
}

span.site {
display:inline-block;
}
